{% extends "personal/header.html" %}

{% block content %}
	<p>Welcome to my website! My name is Stephen Walsh, and I’m a software developer currently seeking employment in Software Development and Artificial Intelligence.</p>

<p>I was first introduced to programming during a course in the first year of my undergraduate degree. I was immediately fascinated by the subject which created an interest in software development that lasted throughout my time at Western. Upon graduating, I decided that I would like to pursue the practice professionally and began looking for jobs in the software development industry. I believe that the courses were extremely valuable to my personal development as a programmer as they covered many of the fundamental and more academic concepts in programming such as OOP, algorithmic complexity, data structures, etc. giving me a formal background in the discipline and provided me with the tools required to practice the subject independently.</p>

<p>I was first able to practice software development professionally while working as a test analyst at Miipe Quality assurance. One of our main responsibilities as a team was performing an extensive round of regression tests after each major change in the system. In order to minimize the amount of time this process would take on each iteration, we began the automating the process using a system built with the Selenium Java library. This was one of my secondary responsibilities and was my first experience working with a large code base in a professional environment. Our development process for creating these tests consisted of writing a document detailing the process used in each automated test case, the development of a method which performs these processes and raises a notification if the system no longer acts as it is expected to, and the integration of this new method into our main codebase with all other completed methods.</p>

<p>While I was excited to have a chance to use my programming skills in a professional environment, and enjoyed my time working on the automation project, I eventually found the scope of the project to be somewhat limited and felt that I had learned all I could from the experience. This led to the decision to pursue a more challenging role dedicated to software development elsewhere.</p>

<p>After some time I began working at Speridian Technologies Canada, initially as a development intern, before joining as an Application Developer after the internship had concluded. This was a great experience for my career, as I feel that by working as part of a smaller team, I got to experience all sides of the discipline, and had more opportunities to make an impact on my assignments. Apart from getting a lot of experience programming, I was also able to regularly take part in meetings and perform presentations with clients and management, which helped hone my communication and project management skills.</p>

<p>After my contract had expired, I had decided not to re-sign in order to pursue work in a more challenging environment, ideally incorporating A.I, which I had developed an interest in. I began work on some new programming projects in A.I. which are hosted on this site.</p>

<p>This purpose of this site is to serve as a professional portfolio, containing several projects I've completed. These projects are meant to demonstrate creative thinking and logical problem solving abilities, as well as the required skill with various languages and tools to implement my ideas. Also included is a contact page, which contains methods to contact me personally, as well as links to accounts I hold on other sites.</p>
<br>
{% load staticfiles %}
	<!--<center><embed src="{% static 'personal/resume/WalshStephenResume.pdf' %}" width="800px" height="1067px" /></center>-->
	<center><object data="{% static 'personal/resume/WalshStephenResume.pdf' %}" type="application/pdf" width="800px" height="1067px">
		<p>It appears you don't have a PDF plugin for this browser.
		<a href="{% static 'personal/resume/WalshStephenResume.pdf' %}">Click here to
		download the PDF file.</a></p>
	</center>
	</object>
{% endblock %}